doctype html
html
	head
		title BostonHacks Hosts for you!

	body
		form(action='/dearsanta', method='POST', enctype='multipart/form-data')
			div.form-field
				label(for='files') Files:
					input#files(type='file', name='files', placeholder='Upload files here')
			div.form-field
				label(for='email') Email:
					input#files(type='email', name='email', placeholder='youremail@email.com')
			input(type='submit', value='Submit')