doctype html
html
	head
		title BostonHacks Hosts for you!

	body
		form(action='/venividivici', method='POST', enctype='multipart/form-data')
			div.form-field
				label(for='project') Project Name:
					input#project(type='text', name='project', placeholder='Name of your project' required)
			div.form-field
				label(for='email') Email:
					input#email(type='email', name='email', placeholder='youremail@email.com' required)
			div.form-field
				label(for='files') Files:
					input#files(type='file', name='files', placeholder='Upload files here', multiple required)
			input(type='submit', value='Submit')